# Node
backend/node_modules/
backend/dist/
backend/build/
backend/.env
backend/.env*
npm-debug.log*

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
logs
*.log

# Docker
docker-compose.override.yml

# OS
.DS_Store

swagger_docs